.background{
    -fx-background-image: url("../image/sky.jpg");
    -fx-background-size: 100% 100%; 
}

.button{
    -fx-text-alignment: left;
}
.glyph-icon{
    -fx-font-family: "Material Design Icons";
    -fx-font-size: 50px;
    -fx-fill: white;
}
.glyph-icon-2{
    -fx-font-family: "Material Design Icons";
    -fx-font-size: 50px;
    -fx-fill: black;
}
.login{
    -fx-background-image: url("../image/login.jpg");
    -fx-background-size: 100% 100%; 
}
.btnNomal{

    -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-font-weight: bold;


}